<a href="https://colab.research.google.com/github/Kiruthika753/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Create a Dataframe***

In [ ]:
import pandas as pd
df = pd.DataFrame(
{
 "Name":["John","Jeni","Peter","Sofi"],
 "Age": [20,21,18,22]
}
)
#print(df)
#Adding new column using Series
Branch = pd.Series(["CSE","CSE with ML","ECE","IT"],name="dept")
df["Branches"]=Branch

#Adding new column using list
Institute=["SIST","VIT","MIT","SRM"]
df["Institutes"]=Institute

#Adding new column using insert method
df.insert(4, "Location", ["Chennai","Mumbai","AP","Delhi"], True)

#Addding new column using DataFrame.assign()
df1=df.assign(PassingOut=[2021,2022,2023,2024])
Fee=[400,500,600,700]
df1["Semester_Fees"]=Fee


print(df1)

    Name  Age     Branches Institutes Location  PassingOut  Semester_Fees
0   John   20          CSE       SIST  Chennai        2021            400
1   Jeni   21  CSE with ML        VIT   Mumbai        2022            500
2  Peter   18          ECE        MIT       AP        2023            600
3   Sofi   22           IT        SRM    Delhi        2024            700

Data Manipulation

In [ ]:
import pandas as pd
df=pd.read_csv("/content/diabetes.csv",index_col=0)
print(df.head(10))
#print(df.tail(10))
print(df.columns)
#Summary of Data Set
#print(df.info())

#Statistical Summary of Data Set
#print(df.describe())

#length of Dataset54854851544844848484884444
#print(len(df))

#DAta types of Data Set
#print("Data type for average salary:",df.avg_salary.dtypes)

             Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
6                148             72             35        0  33.6
1                 85             66             29        0  26.6
8                183             64              0        0  23.3
1                 89             66             23       94  28.1
0                137             40             35      168  43.1
5                116             74              0        0  25.6
3                 78             50             32       88  31.0
10               115              0              0        0  35.3
2                197             70             45      543  30.5
8                125             96              0        0   0.0

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
6                               0.627   50        1
1                               0.351   31        0
8                               0.672   32        1
1                               0.167   21        0
0                               2.288   33        1
5                               0.201   30        0
3                               0.248   26        1
10                              0.134   29        0
2                               0.158   53        1
8                               0.232   54        1
Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')